@import "colores";

  @media screen and (max-width: 576px) {
    #fondo {
      background:linear-gradient($colordesafio);
    }
  
    #lista {
      color: rgb(250, 245, 245);
      background-color: linear-gradient(black, gray);
      text-align: start;
      position: fixed;
      top: 0%;
      left: -5%;
      z-index: 1000;
    }
  
    .menu {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      list-style-type: none;
      text-align:center;
      text-decoration: solid;
      font-size: 13px;
      margin: 5px;
      padding: 0;
      display: inline;
    }
  
    .titulo {
      position: absolute;
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 40px;
      color: rgb(248, 245, 245);
      margin-top: 8%;
    }
  
    .titulo2 {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 35px;
      color: rgb(248, 245, 245);
      margin-top: 12%;
    }
  
    .titulo3 {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 45px;
      color: rgb(248, 245, 245);
      color: black;
      background-color: white;
      margin-top: 6%;
    }
  
    /*PAGINAS*/
    /*index*/
    .carousel-item {
      margin-top: 20%;
      margin-left: 25%;
    }
  
    .carousel-control-prev-icon {
      margin-left:0%;
      visibility:hidden;
    }
  
    .carousel-control-next-icon {
      margin-right:0%;
      visibility:hidden
    }
  
    .carousel-indicators{
      margin-right: 12%;
      
    }
  
    .transformacion {
      width: 1000px;
      height: 450px;
      background-color: black, gray;
      z-index: -1;
      margin-top: 8%;
      margin-bottom: 9%;
    }
  
    .historia {
      display: block;
      text-align: center;
      font-size: 22px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: white;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: -5%;
    }
  
    .puntos {
      background: rgba(13, 13, 14, 0.85);
      left: -60%;
      bottom: -0%;
      right: 0%;
      margin-top: 60%;
      display: flex;
      position:absolute;
      z-index: 999;
      background: rgb(12, 12, 12);
      border-radius: 2px;
      box-shadow: 0px 1px 3px rgb(12, 12, 12);
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-left: 60%;
      max-width: 600px;
      min-width: 320px !important;
      overflow: hidden;
      width: 25%;
      padding: 1rem;
      font-size: 1.3rem;
      color: white;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  
    .puntos .button {
      color: black;
      background-color: white;
    }
  
    .puntos .button:hover {
      color: wheat;
      background-color: rgba(13, 13, 14, 0.85);
    }
  
    /*servicios*/
  
  
    .trabajo {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 30px;
      color: rgb(0, 0, 0);
      background-color: white;
      margin-top: 0%;
    }
  
    .corte {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
      color: rgb(0, 0, 0);
      background-color: white;
    }
  
    .foto2 {
  
      padding-left: 13%;
    }
  
    /*productos*/
    .issue {
      display: inline;
      width: 300px;
      height: 300px;
      margin-left: 0%;
      padding: 1%;
    }
  
    .alfa {
      display: inline;
      width: 300px;
      height: 300px;
      margin-left: 0%;
      padding: 1%;
      background-color: black, gray;
    }
  
    /*turnos*/
    .formulario {
      display: block;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 150%;
      color: white;
      align-items: center;
      text-align: center;
      width: 70%;
      height: 45%;
      margin-left: 15%;
      margin-top: 5%;
      background-color: black;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }
  
    .formulario .Serviciosdeseados {
      font-size: 110%;
      margin-right: 73%;
    }
  
    .formulario .Serviciosdeseados .btn {
      margin-top: 5%;
      margin-bottom: 2%;
    }
  
    /*personal*/
    #avatar {
      
      background-color: white;
    }
  
    .equipo {
      width: 25%;
      height: 42%;
      margin-top: 20%;
    }
  
    /*footer*/
    #links {
      margin-right: 65%;
    }
  
    .wpp,
  .insta,
  .maps {
      display: inline;
      position: relative;
      bottom: -100px;
      width: 50px;
      height: auto;
      color: white;
      margin-bottom: 3%;
    }
  
    .logo {
      position: relative;
      margin-left: 250%;
    }
  
    #links a {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  
    a:link,
  a:visited,
  a:active {
      text-decoration: none;
      color: rgb(155, 176, 184);
    }
  }


            /*//////cambia el dispositivooo*//////
  @media (min-width: 768px){
    #fondo {
      background:linear-gradient($colordesafio);
    }
  
    #lista {
      color: rgb(250, 245, 245);
      background-color: linear-gradient(black, gray);
      text-align: start;
      position: fixed;
      top: 0%;
      left: 2%;
      z-index: 1000;
    }
  
    .menu {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      list-style-type: none;
      text-align:center;
      text-decoration: solid;
      font-size: 30px;
      margin: 5px;
      padding: 0;
      display: inline;
    }
  
    .titulo {
      position: absolute;
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 65px;
      color: rgb(248, 245, 245);
      margin-top: 8%;
    }
  
    .titulo2 {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 35px;
      color: rgb(248, 245, 245);
      margin-top: 12%;
    }
  
    .titulo3 {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 45px;
      color: rgb(248, 245, 245);
      color: black;
      background-color: white;
      margin-top: 6%;
    }
  
    /*PAGINAS*/
    /*index*/
    .carousel-item {
      margin-top: 20%;
      margin-left: 25%;
    }
  
    .carousel-control-prev-icon {
      margin-left:0%;
      visibility:hidden;
    }
  
    .carousel-control-next-icon {
      margin-right:0%;
      visibility:hidden
    }
  
    .carousel-indicators{
      margin-right: 12%;
      
    }
  
    .transformacion {
      width: 1000px;
      height: 450px;
      background-color: black, gray;
      z-index: -1;
      margin-top: 8%;
      margin-bottom: 9%;
    }
  
    .historia {
      display: block;
      text-align: center;
      font-size: 40px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: white;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: -5%;
    }
  
    .puntos {
      background: rgba(13, 13, 14, 0.85);
      top: 115%;
      left: -35%;
      right: 0%;
      margin-top: 90%;
      margin-bottom: 20%;
      display: flex;
      position:absolute;
      z-index: 999;
      background: rgb(12, 12, 12);
      border-radius: 2px;
      box-shadow: 0px 1px 3px rgb(12, 12, 12);
      box-sizing: content-box;
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-left: 60%;
      max-width: 600px;
      min-width: 320px !important;
      overflow: hidden;
      width: 25%;
      padding: 1rem;
      font-size: 1.3rem;
      color: white;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  
    .puntos .button {
      color: black;
      background-color: white;
    }
  
    .puntos .button:hover {
      color: wheat;
      background-color: rgba(13, 13, 14, 0.85);
    }
  
    /*servicios*/
    .section{
      text-align: center;
    }
  
    .trabajo {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 30px;
      color: rgb(0, 0, 0);
      background-color: white;
      margin-top: 0%;
    }
  
    .corte {
      text-align: center;
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
      font-size: 30px;
      color: rgb(0, 0, 0);
      background-color: white;
    }
  
    .foto2 {
      text-align: center;
    }
  
    /*productos*/
    .issue {
      display: inline;
      width: 300px;
      height: 300px;
      margin-left: 5%;
      padding: 1%;
    }
  
    .alfa {
      display: inline;
      width: 300px;
      height: 300px;
      margin-left:5%;
      padding: 1%;
      background-color: black, gray;
    }
  
    /*turnos*/
    .formulario {
      display: block;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 200%;
      color: white;
      align-items: center;
      text-align: center;
      width: 70%;
      height: 45%;
      margin-left: 15%;
      margin-top: 5%;
      background-color: black;
      border-style: solid;
      border-width: 2px;
      border-color: white;
    }

    .form-control{
      font-size: 23px;
    }
    
    .formulario .Serviciosdeseados {
      font-size: 110%;
      margin-right: 73%;
    }
  
    .formulario .Serviciosdeseados .btn {
      margin-top: 5%;
      margin-bottom: 2%;
    }
  
    /*personal*/
    #avatar {
      
      background-color: white;
    }
  
    .equipo {
      width: 25%;
      height: 42%;
      margin-top: 20%;
    }
  
    /*footer*/
    #links {
      margin-top: 10%;
      margin-right: 65%;
    }
  
    .wpp,
  .insta,
  .maps {
      display: inline;
      position: relative;
      top: 158%;
      bottom: -100px;
      font-size: 22px;
      width: 75px;
      height: auto;
      color: white;
      margin-bottom: 3%;
    }
  
    .logo {
      position: relative;
      margin-left: 250%;
    }
  
    #links a {
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  
    a:link,
  a:visited,
  a:active {
      text-decoration: none;
      color: rgb(155, 176, 184);
    }
  }
  




             /*//////cambia el dispositivooo*//////
@media screen and (min-width: 1024px) {
  #fondo {
    background: linear-gradient($colordesafio);
    overflow-x: hidden;
  }

  #lista {
    color:rgb(250, 245, 245);
    background-color: linear-gradient($colordesafio);
    text-align: center;
    position: fixed;
    top: 0%;
    left: 12%;
  }

  .menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-align: center;
    font-size: 35px;
    margin: 10px;
    margin-left:5px;
    padding: 0;
    display: inline;
  }

  .titulo {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: rgb(248, 245, 245);
    margin-top: 10%;
  }

  .titulo2 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: rgb(248, 245, 245);
    margin-top: 15%;
  }

  .titulo3 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    color: rgb(248, 245, 245);
    color: black;
    background-color: white;
    margin-top: 6%;
    margin-right: 3%;
  }

  .carousel-item {
    margin-top: 20%;
    margin-left: 25%;
  }

  .carousel-control-prev {
    margin-left: 20%;
  }

  .carousel-control-next {
    margin-right: 10%;
  }

  .carousel-indicators {
    margin-left: 10%;
  }

  .transformacion {
    width: 1000px;
    height: 275px;
    background-color: $colordesafio;
    z-index: -1;
    margin-top: 8%;
    margin-bottom: 9%;
  }

  .historia {
    display: block;
    text-align: center;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
  }

  .puntos {
    background: rgba(13, 13, 14, 0.85);
    top: 5%;
    right: 46%;
    bottom: 0%;
    display:flex;
    position: absolute;
    z-index: 999;
    background: rgb(12, 12, 12);
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgb(12, 12, 12);
    box-sizing: content-box;
    flex-direction: column;
    margin-top: 125%;
    margin-left: 70%;
    margin-bottom: 10%;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    width: 25%;
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  /*servicios*/
  .trabajo {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
    background-color: white;
  }

  .corte {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
  }

  .foto1 {
    align-items: center;
   
  }

  /*productos*/
  .issue {
    display: inline;
    width: 200px;
    height: 380px;
    margin-left: 5%;
    padding: 1%;
  }

  .alfa {
    display: inline;
    width: 200px;
    height: 380px;
    margin-left: 5%;
    padding: 1%;
  }

  /*turnos*/
 .formulario {
    display: block;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font: size 150%;
    color: white;
    align-items: center;
    text-align: center;
  }

  .formulario .Serviciosdeseados {
    font-size: 120%;
  }

  .formulario .Serviciosdeseados .btn {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  /*personal*/
  #avatar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3%;
    background-color: white;
  }

  .equipo {
    width: 10%;
    height: 42%;
    margin-top: 20%;
  }

  /*footer*/
  #links {
    margin-right: 65%;
  }

  .wpp,
  .insta,
  .maps {
    display: inline;
    position: relative;
    bottom: -100px;
    width: 50px;
    height: auto;
    color: white;
    margin-right: 7%;
    margin-bottom: 5%;
  }

  .logo {
    position: relative;
    margin-left: 280%;
  }

  #links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: rgb(155, 176, 184);
  }
   }

        ////cambia dispositivo///***

  @media (min-width: 1400px){
    #fondo {
    background: linear-gradient($colordesafio);
    overflow-x: hidden;
  }

  #lista {
    color:rgb(250, 245, 245);
    background-color: linear-gradient($colordesafio);
    text-align: center;
    position: fixed;
    top: 0%;
    left: 18%;
  }

  .menu {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-align: center;
    font-size: 55px;
    margin: 10px;
    margin-left:5px;
    padding: 0;
    display: inline;
  }

  .titulo {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    color: rgb(248, 245, 245);
    margin-top: 10%;
  }

  .titulo2 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: rgb(248, 245, 245);
    margin-top: 15%;
  }

  .titulo3 {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    color: rgb(248, 245, 245);
    color: black;
    background-color: white;
    margin-top: 6%;
    margin-right: 3%;
  }

  .carousel-item {
    margin-top: 20%;
    margin-left: 25%;
  }

  .carousel-control-prev {
    margin-left: 20%;
  }

  .carousel-control-next {
    margin-right: 10%;
  }

  .carousel-indicators {
    margin-left: 10%;
  }

  .transformacion {
    width: 10000px;
    height: 275px;
    background-color:$colordesafio;
    z-index: -1;
    margin-top: 8%;
    margin-bottom: 4%;

  }

  .historia {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .puntos {
    background: rgba(13, 13, 14, 0.85);
    left: 22%;
    bottom: 80%;
    right: 0;
    top: 0%;
    display: flex;
    position: fixed;
    z-index: 999;
    background: rgb(12, 12, 12);
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(12, 12, 12);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 59%;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    width: 25%;
    padding: 1rem;
    font-size: 20px;
    color: white;
    animation-delay: 0s;
    .button{
        color: black;
        background-color:white;
        &:hover{
            color: wheat;
            background-color: rgba(13, 13, 14, 0.85);
    }  
  } 
 

  /*servicios*/
  .trabajo {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
    background-color: white;
  }

  .corte {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: white;
  }

  .foto1 {
    align-items: center;
   
  }

  /*productos*/
  .issue {
    display: inline;
    width:max-content;
    height: max-content;
    margin-left: 90%;
    
  }

  .alfa {          
    
  }

  /*turnos*/
 .formulario {
    display: block;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font: size 150%;
    color: white;
    align-items: center;
    text-align: center;
  }

  .formulario .Serviciosdeseados {
    font-size: 120%;
  }

  .formulario .Serviciosdeseados .btn {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  /*personal*/
  #avatar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3%;
    background-color: white;
  }

  .equipo {
    width: 10%;
    height: 42%;
    margin-top: 20%;
  }

  /*footer*/
  #links {
    margin-right: 65%;
  }

  .wpp,
  .insta,
  .maps {
    display: inline;
    position: relative;
    bottom: -100px;
    width: 50px;
    height: auto;
    color: white;
    margin-right: 7%;
    margin-bottom: 5%;
  }

  .logo {
    position: relative;
    margin-left: 280%;
  }

  #links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: rgb(155, 176, 184);
  }
 }   
}
